body {
/*  font-family:"Trebuchet MS", Arial, Verdana;*/
  font-size:0.90em;
  background: url(top.jpg) no-repeat top left ;
  font-family: sans-serif;
  /*background: url(bg2.jpg) no-repeat top left;*/
  /* background: url(bottom.jpg) no-repeat bottom right;*/
}

a:link {
  text-decoration: none ;
  color: #0080c0;
}

a:visited {
  text-decoration: none ;
  color: #005080 ;
}

p {
  margin-top: 16px;
  margin-bottom: 4px;
}

p.warning {
  border: 2px solid #c15555 ;
  padding: 4px;
  color: #c15555 ;
  font-weight: bold;
}

p.center {
  width: 100%;
  text-align: center ;
}

div.command-line pre {
  font-family: courier ;
  font-weight: bold ;
  margin-top: 6px;
  margin-bottom: 2px ;
  color: #4a83ce ;
  /*font-size: 11pt;*/
  font-size : smaller ;
  padding: 2px ;
 }

div.code pre {
  padding: 2px;
  font-size: 10pt;
  border: 1px solid #000000 ;
  font-weight: normal ;
  background-color: #DDDDFF ;
}

ul { margin-top: 2px; }

a:hover, a:active {
  text-decoration: underline ;
  color: #DD2222 ;
  background-color: transparent;
}

div#sidebar {
        margin-top:  40px;
        left: 0px;
        width: 165px;
        position: absolute;
/*
        background-color: #EFEFEF;
        font-size: smaller ;
        margin-left: 3px;
        padding: 4px;
        border-style: dashed ;
        border-color: #0080c0;
        border-width: 1px;
        padding-top: 8px ;
        padding-bottom: 8px;
*/
}

div#sidebar img { margin-right: 2px; }

div#sidebar ul { padding-left: 1em; }

div#page-title {
  padding-top: 10px;
  font-size: 30px;
  color: #384498;
  text-align: center ;
  width: 100% ;
}

div#content {
  margin: 0px;
}

div#content-with-sidebar {
  padding-left: 180px;
  margin: 0px;
}

div.navig p { display: inline; padding-left: 1.5em; }
div.navig { display: inline ; padding-right: 1em; vertical-align: top; }

div#page-header {
  font-size: smaller ;
  position: absolute;
  top: 0px;
  padding-top: 4px;
  right: 0px;
}

div#page-footer {
  /*background: url(top.jpg) no-repeat top left ;*/
  font-size: smaller ;
  position: relative;
  bottom: 0px;
  left: 0px;
  padding-top: 10px;
  margin-left: 180px;
  height: 80px;
  text-align: right;
}

div#page-footer p { display: inline ; padding-left: 1.0em; }
div#page-footer p.valid a { display: inline ; padding-left: 2px; }
div#page-footer table tr td.right { text-align: right; }

img { border-width: 0px; }

h2 {
  color: #C8770D ;
}


div.section2 {
  margin-top: 1em ;
  margin-bottom: 1.5em;
}

div.section2-title {
  color: #384498;
  font-size: 130%;
  margin-bottom: 5px;
  border-style: dashed ;
  border-color: #384498;
  border-width: 0px 0px 1px 0px;
  width: 100%;
}
/* essai de style
div.section2 {
  border-width: 2px;
  border-color: #3465ce;
  border-style: solid ;
  background-color: #DDDDDD;
  color: black ;
}
div.section2-title {
 padding-left: 3px;
 background-color: #3465ce;
 color: white ;
 font-size: 130%;
  margin-bottom: 5px;
}
*/
div#sidebar div.section2 {
        /*background-color: #EFEFFF;*/
        color: black;
        font-size: smaller ;
        margin-left: 3px;
        padding: 4px;
        border-style: solid ;
        border-width: 0 0 0 3px;
        border-color: #384498;
/*
        border-style: dashed ;
        border-color: #0080c0;
        border-width: 1px;
*/
        padding-top: 5px ;
        padding-bottom: 8px;
}

div#sidebar div.section2 ul { margin-bottom: 2px ; }

div.section3 {
  margin-bottom: 1.2em;
}
div.section3-title {
  margin-top: 8px;
  color: #384498;
  font-size: 110%;
}
div.section4 {
  margin-top: 4px ;
  margin-bottom: 1em;
}
div.section4-title {
  color: #384498;
  font-size: 100%;
  margin-bottom: 0px;
  width: 100%;
}
div.footnote { font-size: smaller ; }

div.linkline {
  margin-top: 5px;
  padding-top: 0px;
  background-color: #EFEFEF;
  width: 100%;
}

span.linkline-item {
  padding-left: 2em;
}

p.remark {
 padding: 3px;
 margin-top: 5px;
 margin-bottom: 5px ;
 border: 1px #0080c0 dashed;
 background-color: #DDDDFF ;
}

p.release { padding-top: 0px; margin-top: 0px; padding-right: 1em;}

div.qa { padding-top : 1em ; }
div.question {
  color: #384498;
  font-size: 100%;
  text-decoration: underline;
  margin-bottom: 5px;
  width: 100%;
}

div.answer {
  margin-left: 1em;
  padding-left: 5px;
  border-style: solid ;
  border-width: 0 0 0 2px;
  border-color: #384498;
}
div.answer p { margin-top: 8px }

p.quote {
  margin-left: 2em ;
  margin-right: 2em;
  font-style: italic ;
  font-size: smaller ;
}

span.todo {
  font-size: smaller ;
  font-style: italic ;
  color: #DDDDDD ;
}

p.release {
  margin-bottom: 1em;
}

div.command-line pre {
  font-family: courier ;
  font-weight: bold ;
  margin-top: 6px;
  margin-bottom: 2px ;
  margin-left: 0.5em;
  /*color: #4a83ce ;*/
  /*font-size: 11pt;*/
  font-size : smaller ;
  padding: 2px ;
  padding-left: 0.5em;
  border-width: 0 0 0 2px;
  border-style: solid ;
  border-color: #aaaaaa ;
  background-color: Black;
  color: #aaaaaa ;
 }

div.paper-reference { margin-left: 1em; margin-top: 4px;}
span.paper-ref-title { font-weight: normal; }
span.paper-ref-authors { font-style: italic; padding-right: 2px;}
div.paper-ref-comments { padding-left: 1em; }

div.references {}


/* FOR PRINTERS */
@media print {
body { font-size: 11pt; }
div#sidebar { display: none ; }
div#content-with-sidebar { padding-left: 2px; }


}
